.container{
   height: 100%;
  //  background-image: url('');
   background-repeat: no-repeat;
   background-size: cover;
}
.btns-container{
   position: relative;
   top: 25px;
}
.btns{

  padding: 6px 6px;
  margin: 6px;

}
